<div class="container">
  <div class="well well-sm">
    <h1>{{pair}} <span class="float-right {{color-location ticket.location}}">{{ticket.location}}</span></h1>
    <p>{{ticket.question}}</p>
    <h4>{{moment-from-now ticket.timestamp}}</h4>
  </div>
</div>
