<div class="container">
  <div class="well well-sm">
    <h1>{{pair}} <span class="float-right {{color-location ticket.location}}">{{ticket.location}}</span></h1>
    <p>{{ticket.question}}</p>
    <h1>{{cTime}}</h1>
    <h4 class="{{time-color cTime}}">{{moment-from-now cTime}}</h4>
  </div>
</div>
